%h1 Events
%table#events
  %thead.tablehead
    %tr
      %th Date
      %th GPS
      %th Event Location Friendly
      %th Departure Location 
      %th Destination
      %th Capacity
      %th One way trip?
      %th Duration
      %th Comments
  %tbody
  -@events.each do |event|
    %tr.tablebody
      %td= event.EventDate
      %td= event.EventLocationGPS
      %td= event.EventLocationFriendly
      %td= event.FromLocation
      %td= event.ToLocation
      %td= event.QuantityCanCarry
      %td= event.OneWayTrip
      %td= event.EventBufferTime
      %td= event.EventComments
      
= link_to 'Add new Event', new_event_path
