%h1 Events
%div{:align => "center"}
  = will_paginate
%table#events 
  %thead.tablehead 
    %tr   
      %th ID# 
      %th Date
      %th GPS
      %th Location
      %th Meeting Point 
      %th Destination
      %th Can hold
      %th One way?
      %th Get here by
      %th Comments
      %th More Details
  %tbody
  -@events.each do |event|
    %tr.tablebody
      %td= event.id
      %td= event.EventDate
      %td= event.EventLocationGPS
      %td= event.EventLocationFriendly
      %td= event.FromLocation
      %td= event.ToLocation
      %td= event.QuantityCanCarry
      %td= event.OneWayTrip
      %td= event.EventBufferTime
      %td= event.EventComments
      %td= link_to "Details : #{event.id}", event_path(event)
      
%AddSection
= link_to 'New Event', new_event_path

%div{:align => "center"}
  = will_paginate


