!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    //%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    //%title Ride Me!!
    //%link{:href => "http://cdn.syncfusion.com/13.2.0.29/js/web/flat-azure/ej.web.all.min.css", :rel => "stylesheet"}/
    //%script{:src => "https://code.jquery.com/jquery-1.10.2.min.js"}
    //%script{:src => "http://cdn.syncfusion.com/js/assets/external/jquery.easing.1.3.min.js"} 
    //%script{:src => "http://cdn.syncfusion.com/js/assets/external/jquery.globalize.min.js"}
    //%script{:src => "http://cdn.syncfusion.com/js/assets/external/jsrender.min.js"}
    //%script{:src => "http://cdn.syncfusion.com/13.2.0.29/js/web/ej.web.all.min.js"} 
    //%link{:href => "http://www.w3schools.com/lib/w3.css", :rel => "stylesheet"}/
    //%link{:href => "app/assets/stylesheets/mycss.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag 'rails'
  %body
  .divTable
  .divTableBody
    .login_top_menu
      %img{:height => "140", :src => asset_path("my_tweet.png"), :width => "440"}/
      %div{:style => "float : right"}
        %br/
        .login_top_menu_sign_in
        = form_for(:user, :url => session_path(:user)) do |f|
          = f.label "Email"
          = f.text_field :email
          = f.label "Password"
          = f.password_field :password
          %br
          .login_top_menu_btn
            = f.check_box :remember_me
            = f.label :remember_me
            = link_to "Forgot your password?", new_password_path(:user)
            %br
            = f.submit 'Sign in'
            
    %br/
    %div
    .login_create_new_img
      %img{:src =>  asset_path("car2.jpg"), :width => "300%"}/
    .login_create_new
      %center
        %h1 Sign In
        %div
          %label First Name
          %input{:type => "text"}/
          %label Middle Initial
          %input{:maxlength => "2", :size => "2", :type => "text"}/
          %label Last Name
          %input{:type => "text"}/
        %br/
        %div
          %label Email Address
          %input{:size => "85", :type => "email"}/
        %br/
        %div
          %label Phone Number
          %input{:type => "text"}/
          %label Address :
          %input{:size => "50", :type => "text"}/
        %br/
        %div
          %label City
          %input{:size => "22", :type => "text"}/
          %label State
          %input{:maxlength => "2", :size => "2", :type => "text"}/
          %label Zip Code
          %input{:size => "20", :type => "text"}/
        %br/
        %div
          %label Create Password
          %input{:size => "31", :type => "password"}/
          %label Retype Password
          %input{:size => "33", :type => "password"}/
        %br/
        %div
          %label Date of Birth
          %input#datePicker{:size => "85"}/
          %br/
          %label Are You a car Owner ?
          %select#carOwnerSelect{:onchange => "carOwner()"}
            %option{:value => "Y"} Yes
            %option{:selected => "selected", :value => "N"} No
        %br/
        #not_A_car_owner
          %button{:onclick  => "carOwner()",:style => "width : 25% ; background-color : green;"} Submit
          %button{:style => "width : 25% ; background-color : red;"} Cancel
        %br/
        #Car_owner
          %div
            %label Car Model
            %input{:type => "text"}/
            %label Car Type
            %select
              %option Sedan
              %option Suv
              %option Subcompact
              %option Compact
              %option Mid-size
              %option Full-size
            %label Car Year
            %input{:maxlength => "4", :size => "4", :type => "text"}/
          %br/
          %div
            %label Car Vin Number
            %input{:type => "text"}/
            %label Car plate number
            %input{:type => "text"}/
          %br/
          %div
            %label Driver Licence Number
            %input{:size => "50", :type => "text"}/
          %br/
          %div
            %button{:style => "width : 25% ; background-color : green;"} Submit
            %button{:style => "width : 25% ; background-color : red;"} Cancel
            
    :javascript
      $('#Car_owner').hide();
      $("#datePicker").datepicker();
      $(document).ready(function() {
      $('#Car_owner').hide();
      $( "#datepicker" ).datepicker();
      });
      function login(){
        var credentials = $('#password').val();
        alert(credentials);
        //+ " and the password is : "$('#password').val());
      }
      

      //function plusDivs(n) {
      //    showDivs(slideIndex += n);
      //}

      //function showDivs(n) {
      //    var i;
      //    var x = document.getElementsByClassName("mySlides");
      //    if (n > x.length) { slideIndex = 1 }
      //    if (n < 1) { slideIndex = x.length }
      //    for (i = 0; i < x.length; i++) {
      //        x[i].style.display = "none";
      //    }
      //    x[slideIndex - 1].style.display = "block";
      //}
      function carOwner() {
          if ($('#carOwnerSelect').val() == "Y") {
              $('#not_A_car_owner').hide();
              $('#Car_owner').show();
          } else {
              $('#not_A_car_owner').show();
              $('#Car_owner').hide();
          }
      }
