%h1 Events
%p
= form_for(Event.new) do
  = label :event, :EventDate, 'Date'
  = date_field :event, :EventDate
  %br/
  = label :event, :EventLocationGPS, 'GPS'
  = text_field :event, 'EventLocationGPS'
  %br/
  = label :event, :EventLocationFriendly, 'Location '
  = text_field :event, :EventLocationFriendly
  %br/
  = label :event, :FromLocation, 'Meet at:'
  = text_field :event, 'FromLocation'
  %br/
  = label :event, :ToLocation, 'Destination'
  = text_field :event, :ToLocation
  %br/
  = label :event, :QuantityCanCarry, 'Can hold'
  = number_field :event, :QuantityCanCarry
  %br/
  = label :event, :OneWayTrip, 'One way trip'
  = select :event, :OneWayTrip, ['Yes','No']
  %br/
  = label :event, :EventBufferTime, 'Get here by'
  = text_field :event, 'EventBufferTime'
  %br/
  = label :event, :EventComments, 'Comment'
  = text_field :event, 'EventComments'
  %br/
  = submit_tag 'Submit'
